/* * {
  border: solid;
} */

* {
  box-sizing: border-box;
}

header {
  background-color: deepskyblue;
  color: white;
}

li a {
  color: white;
  text-decoration: none;
}

/* img {
  opacity: 0.25;
  display: block;
} */

h1 {
  text-align: center;
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#core_skylanders {
  display: flex;
  flex-direction: column;
}

/* Media Queries */
@media  